.img_box{
    display:grid;
grid-template-rows:8em 6em;
justify-content:center;
padding: 2em;
justify-self: center;
width:40%;
grid-template-columns: auto;

}
#img_view{
    width:20vh;
    height:20vh;
   justify-self: center;
   justify-content: center;
    border-top-left-radius: 90px;
  border-top-right-radius:90px; 
  border-bottom-right-radius:90px;
  border-bottom-left-radius:90px;
  background-color: rgba(165, 157, 157, 0.863);
  border-color: rgb(252, 19, 19) 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



} 
#banner{
    width:100%;
    height:auto;
  



} 

#img_title2
{
  justify-self: center;
  justify-content: center;
  padding-top:2em;
 font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: #ea1d5d;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.Contact_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.Event_btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 10%;
    height:10%;
    font-size: 2em;
    -webkit-text-fill-color:white;
}
#event_button_size{
    width:2em;
   height:2em;
   
   border-top-left-radius: 90px;
   border-top-right-radius:90px; 
   border-bottom-right-radius:90px;
   border-bottom-left-radius:90px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    right: 0;
    bottom:0;
    width: 40%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
  
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#read_more{
    -webkit-text-fill-color: blue;
    text-underline-position: below;
}
